<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./assets/js/controller.js"></script>
    <link rel="stylesheet" href="./assets/styles/styles.css" />
    <title>Calculadora</title>
  </head>
  <body ng-controller="firstController">
    <section class="main-section container">
      <div class="panel container">
        <h1> {{ display }} </h1>
      </div>
      <div class="numbers">
        <button class="number container" ng-click="agregarNumero('1')">1</button>
        <button class="number container" ng-click="agregarNumero('2')">2</button>
        <button class="number container" ng-click="agregarNumero('3')">3</button>
        <button class="number container" ng-click="agregarOperador('+')">+</button>
        <button class="number container" ng-click="agregarNumero('4')">4</button>
        <button class="number container" ng-click="agregarNumero('5')">5</button>
        <button class="number container" ng-click="agregarNumero('6')">6</button>
        <button class="number container" ng-click="agregarOperador('-')">-</button>
        <button class="number container" ng-click="agregarNumero('7')">7</button>
        <button class="number container" ng-click="agregarNumero('8')">8</button>
        <button class="number container" ng-click="agregarNumero('9')">9</button>
        <button class="number container" ng-click="agregarOperador('*')">*</button>
        <button class="number container">ac</button>
        <button class="number container" ng-click="resultado()">=</button>
        <button class="number container" ng-click="agregarNumero('0')">0</button>
        <button class="number container" ng-click="agregarOperador('/')">/</button>
      </div>
    </section>
  </body>
</html>
